<div class="container">
  <div class="klax-app-name">
    i2b Radar
  </div>

  <h3>Welcome</h3>

  <p class="klax-lead"><b><%= @invited_by&.display_name %></b> added you to Blaqhole, an app enabling you to monitor sites and files on the web and get notified of changes. Click below to login.</p>

  <p><a class="klax-button" href="<%= @url %>">Get Started with Blaqhole</a></p>

</div>
